* {
  box-sizing: border-box;
}

body {
  background: white;
  margin: 0;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  background: blue;
}
