* {
  box-sizing: border-box;
}

body {
  background: white;
  margin: 0;
}

.page {
  width: 600px;
  height: 630px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

canvas {
  position: absolute;
  background: transparent;
}

canvas.backdrop {
  background-color: #00000040;
}
